<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{5} - %thread - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="RP" class="com.epam.reportportal.logback.appender.ReportPortalAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%t] [%-5level] - %msg%n</pattern>
      <pattern>[%t] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/log.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/log-%d{yyyy/MM/dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>60</maxHistory>
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="binary_data_logger" level="TRACE" additivity="false">
    <appender-ref ref="RP"/>
  </logger>

  <logger name="com.epam.reportportal.service" level="TRACE"/>
  <logger name="com.epam.reportportal.utils" level="TRACE"/>

  <root level="TRACE">
    <appender-ref ref="RP"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>


</configuration>